<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.agora.vuihoc.agora_native">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Agora -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Agora RTM -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Agora RTC BLUETOOTH -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"  />
    <application>
        <activity
            android:name="io.agora.flat.ui.activity.play.ClassRoomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.FlatAndroid.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
    </application>
</manifest>
